@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    0deg,
    rgba(40, 87, 137, 1) 0%,
    rgba(0, 212, 255, 1) 35%,
    rgb(255, 255, 255) 100%
  );
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: "Poppins", sans-serif;
}

.nav-bar {
  margin-top: 30px;
}

/* JOKE FORM */
.joke-form {
  padding: 10px 5px 10px 5px;
  margin-left: 25%;
  margin-right: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  border: rgba(40, 87, 137, 1);
  border-style: solid;
  background-color: rgba(245, 245, 245, 0.973);
  color: rgba(40, 87, 137, 1);
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
}

.joke-form h3 {
  margin: 5px;
}

.joke-form textarea {
  font-size: 1.5em;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  border-width: 3px;
  border-color: rgba(40, 87, 137, 1);
  background-color: white;
  color: rgba(40, 87, 137, 1);
}

.joke-form textarea:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  opacity: 1;
}

.joke-form textarea {
  background-color:rgba(245, 245, 245, 0.973);
  opacity: .75;
}

.joke-form select {
  border-radius: 10px;
  border-width: 2px;
  border-color: rgba(40, 87, 137, 1);
  opacity: .5;
  
}

.joke-form select:hover {
  opacity: 1;
}

.add-joke-button {
  border-radius: 8px;
  border-style: none;
  width: 125px;
  padding: 10px 20px 10px 20px;
  margin: 10px 20px 10px 20px;
  background-color: #f1d302;
  color: white;
}

/* PULSE ON BUTTON */
.add-joke-button:hover {
  border-style: none;
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 white;
  }

  70% {
    transform: scale(1.1);
    box-shadow: 0 0 0 5px white;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 white;
  }
}
/* END PULSE ON BUTTON */

.joke-submit {
  justify-content: center;
}

/* END JOKE FORM */

/* CARD FLIP */

.card-grid {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  margin: 20px 20px 20px 45px;
  padding: 30px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.35rem;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
  background-color: rgba(245, 245, 245, 0.973);
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
  height: 250px;
  width: 200px;
  margin: 10px
}

.card:hover {
  --translate-y: -2px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front {
  left: 0;
}

.card .front,
.card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
}

.card .back p {
  max-width: 75px;
}

/* END CARD FLIP */

.filtered-category {
  color: #59c5f1;
  font-family: "Roboto", sans-serif;
}
.filtered-category:hover {
  color: #f1d302;
  cursor: alias;
}

.delete-button {
  border-style: none;
  opacity: .5;
  width: 30px;
  
}

.delete-button:hover {
  border-style: solid;
  border-radius: 6px;
  border-width: 1px; 
  border-color: #f1d302;
  transform: scale(1);
  animation: pulse 2s infinite;
  opacity: 1;
  /* background-color: rgba(247, 222, 90, .25); */
}
